{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "ie >= 11",
            "> 1%",
            "last 3 Chrome versions",
            "last 2 Edge versions",
            "last 2 Firefox versions"
          ]
        }
      }
    ],
    "@babel/react",
    "@babel/flow"
  ],
  "env": {
    "development": {
      "plugins": [
        ["styled-components", {
          "displayName": true,
          "minify": true,
          "pure": true,
          "ssr": false
        }],
        "@babel/plugin-transform-react-jsx-source",
        ["@babel/plugin-transform-runtime", {
          "useESModules": true
        }]
      ]
    },
    "test": {
      "presets": [
        "@babel/env",
        "@babel/react",
        "@babel/flow"
      ]
    },
    "esm": {
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-export-namespace-from",
        ["@babel/plugin-transform-runtime", {
          "useESModules": true
        }],
        [
          "transform-react-remove-prop-types",
          {
            "mode": "wrap"
          }
        ],
        [
          "styled-components",
          {
            "displayName": false,
            "minify": false,
            "pure": true,
            "ssr": true
          }
        ]
      ]
    }
  },
  "plugins": [
    "@babel/plugin-proposal-class-properties",
  ]
}
