{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "> 1%",
            "last 2 versions",
            "ie >= 11"
          ]
        }
      }
    ],
    "@babel/react"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/env",
        "@babel/react"
      ]
    },
    "cjs": {
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-export-namespace-from",
        "@babel/plugin-transform-modules-commonjs",
        "@babel/plugin-transform-runtime"
      ]
    },
    "esm": {
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-export-namespace-from",
        ["@babel/plugin-transform-runtime", { useESModules: true }]
      ]
    }
  }
}
