# Ignore generated folders
node_modules
storybook-static
esm
lib

# Logs
*.log
yarn-error.log

# Editor
.DS_Store
*.swp
.idea
.vscode

# Coverage directory used by tools like Istanbul
coverage
flow-coverage

# a11y files
a11y/results

# Release
CHANGELOG.md
